/*------------------------- Body -------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    border: red solid 1px;
}

body {
    font-family: Arial;
    font-family: 'Shantell Sans', cursive;
    font-weight: 350px;
    /* background-color: rgb(221, 218, 201); */
}

/*------------------------- Headings -----------------------------------------*/

h1, h2 {
    font-family: Arial;
    font-family: 'Shantell Sans', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    /* color: rgb(90, 11, 11); */
}

.heading {
   padding-top: 30px; 
   margin : auto;
   text-align: center;
}

/*------------------------- Game Container -----------------------------------*/
.game-container {
 display: flex;
 flex-direction: row;
 margin: auto;
 padding-top: 30px;
 max-width: 1155px;
 }

/*------------------------- User Choice --------------------------------------*/
.user-choice {
 display: flex;
 flex-direction: column;
 /* background-color: aquamarine; */
}

.user-choice > div {
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    height: 160px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.button > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.button:hover {
    box-shadow: 4px 4px 8px green;
}

/*------------------------- Playing Board ------------------------------------*/
.playing-board {
 /* background: url(../images/playing-board.png) center center no-repeat;
 background-size: cover; */
 max-height: 400px;
 max-width: 491px;
 display: flex;
 margin: auto;
 /* background-color: blueviolet; */
}

.playing-board > img {
   height: 100%;
   width: 100%;
}

/*------------------------- Bot Choice ---------------------------------------*/
.bot-choice {
 display: flex;
flex-direction: column;
}

.bot-choice-img {
    height: 160px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
     overflow: hidden;
    /* background-color: blueviolet; */
}

.bot-choice-img > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*------------------------- Score Board --------------------------------------*/
.score-board {
 display: flex;
 justify-content: space-between;
 margin: auto;
 margin-top: 30px;
 max-width: 1155px;
}

/*------------------------- @media ------------------------------------------*/

@media  screen and (max-width: 950px) { 
    
  .game-container {
    flex-direction: column;
  }

  

  .user-choice {
    flex-direction: column;
  }

  .user-choice > div {
      flex-direction: row;
  }

  .bot-choice {
    flex-direction: column;
  }

  .bot-choice > div {
    display: flex;
    flex-direction: row;
  }

}