/*------------------------- Body -------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    /* border: red solid 1px; */
}

body {
    font-family: Arial;
    font-family: 'Shantell Sans', cursive;
    font-weight: 350px;
    /* background-color: rgb(221, 218, 201); */
}

/*------------------------- Headings -----------------------------------------*/

h1, h2 {
    font-family: Arial;
    font-family: 'Shantell Sans', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    /* color: rgb(90, 11, 11); */
}

#rules{
    font-size: large;
    color: red;
    text-align: center;
    /* width: 30px; */
}

#rules:hover{
    text-shadow: 4px 4px 8px rgb(139, 49, 49);
}

.heading {
   padding-top: 30px; 
   margin : auto;
   text-align: center;
}

/*------------------------- Pop Up         -----------------------------------*/
.pop-up{
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
}

.pop-up .pop-up-text{
    visibility: hidden;
    width: 300px;
    /* width: 50%; */
    background-color: lightgreen;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
 }


.pop-up .pop-up-text::after{
    position: absolute;
    content: "";
    border-style: solid 5px 5px;
}

.pop-up .show {
    visibility: visible;
}
/*------------------------- Game Container -----------------------------------*/
.game-container {
 display: flex;
 flex-direction: row;
 margin: auto;
 padding-top: 30px;
 max-width: 1155px;
 }

/*------------------------- User Choice --------------------------------------*/
.user-choice {
 display: flex;
 flex-direction: column;
 /* background-color: aquamarine; */
}

.user-choice > div {
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    height: 160px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.button > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.button:hover {
    box-shadow: 4px 4px 8px green;
}

/*------------------------- Playing Board ------------------------------------*/
.playing-board {
 /* background: url(../images/playing-board.png) center center no-repeat;
 background-size: cover; */
 max-height: 400px;
 max-width: 491px;
 display: flex;
 flex-direction: column;
 margin: auto;
 /* background-color: blueviolet; */
}

.playing-board > img {
   height: 100%;
   width: 100%;
}

#outcome {
   text-align: center;
   font-size: larger;
   font-weight: 600;
   color: green;
   
}

#winner {
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color: red;
 }


/*------------------------- Bot Choice ---------------------------------------*/
.bot-choice {
 display: flex;
flex-direction: column;
}

.bot-choice-img {
    height: 160px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(233, 233, 233);
}

.bot-choice-img > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*------------------------- Score Board --------------------------------------*/
.score-board {
 display: flex;
 justify-content: space-between;
 margin: auto;
 margin-top: 10px;
 max-width: 1155px;
}


/*------------------------- @media ------------------------------------------*/

@media  screen and (max-width: 950px) { 

    h1, h2 {
        padding-top: 5px;
        /* padding-bottom: 5px; */
         font-size: unset;
    }

    .heading {
        padding-top: 5px;
    }
    
  .game-container {
    padding-top: 5px;
    flex-direction: column;
  }

  .user-choice {
    flex-direction: column;
  }

  .user-choice > div {
      flex-direction: row;
  }

  .button {
    height: 80px;
  } 
  
 .playing-board > img {
    /* max-height: 209px; */
    opacity: 35%;
    position: relative;
 }

 #outcome{
    width: 99%;
    position: absolute;
    top: 245px;
    transform: translate(-1%, -10%);
 }

 #winner{
    width: 95%;
    position: absolute;
    bottom: 45%;
    left: 50%;

    transform: translate(-50%, 45%);
 }

  .bot-choice {
    flex-direction: column;
  }

  .bot-choice > div {
    display: flex;
    flex-direction: row;
  }

  .bot-choice-img {
      height: 80px;
  }
}

.score-board{
    margin-top: 5px;
    padding-right: 5px;
}