/*------------------------- Body -------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial;
    font-family: 'Shantell Sans', cursive;
    font-weight: 350;
}

/*------------------------- Headings -----------------------------------------*/
h1,
h2 {
    font-family: Arial;
    font-family: 'Shantell Sans', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#rules {
    font-size: large;
    color: #ec1100;
    text-align: center;
}

#rules:hover {
    text-shadow: 4px 4px 8px rgb(255, 108, 108);
    ;
}

.heading {
    padding-top: 30px;
    margin: auto;
    text-align: center;
}

/*------------------------- Pop Up -----------------------------------*/
.pop-up {
    position: relative;
}


.pop-up .pop-up-text {
    visibility: hidden;
    width: 300px;
    background-color: lightgreen;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    font-size: large;
    font-weight: 600;
    list-style-type: none;
}

.pop-up .pop-up-text::after {
    position: absolute;
    content: "";
}

.pop-up .show {
    visibility: visible;
}

/*------------------------- Game Container -----------------------------------*/
.game-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 30px;
    max-width: 1155px;
}

/*------------------------- User Choice --------------------------------------*/
.user-choice {
    display: flex;
    flex-direction: column;
}

.user-choice>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    height: 160px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.button>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.button:hover {
    box-shadow: 4px 4px 8px green;
}

/*------------------------- Playing Board ------------------------------------*/
.playing-board {

    max-height: 400px;
    max-width: 491px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.playing-board>img {
    height: 100%;
    width: 100%;
}

#outcome {
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color: green;
}

#winner {
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color: red;
}

/*------------------------- Bot Choice ---------------------------------------*/
.bot-choice {
    display: flex;
    flex-direction: column;
}

.bot-choice-img {
    height: 160px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(233, 233, 233);
}

.bot-choice-img>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*------------------------- Score Board --------------------------------------*/
.score-board {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    max-width: 1155px;
}

.user-score {
    display: flex;
    align-items: baseline;
}

.bot-score {
    display: flex;
    align-items: baseline;
}

/*------------------------- @media ------------------------------------------*/
@media screen and (max-width: 950px) {

    h1,
    h2 {
        padding-top: 5px;
        font-size: unset;
    }

    .heading {
        padding-top: 5px;
    }

    .game-container {
        padding-top: 5px;
        flex-direction: column;
    }

    .user-choice {
        flex-direction: column;
    }

    .user-choice>div {
        flex-direction: row;
    }

    .button {
        height: 80px;
    }

    .playing-board>img {

        opacity: 35%;
        position: relative;
    }

    #outcome {
        width: 99%;
        position: absolute;
        top: 280px;
        transform: translate(-20%, -10%);
    }

    #winner {
        width: 95%;
        position: absolute;
        bottom: 45%;
        left: 50%;
        transform: translate(-50%, 45%);
    }

    .bot-choice {
        flex-direction: column;
    }

    .bot-choice>div {
        display: flex;
        flex-direction: row;
    }

    .bot-choice-img {
        height: 80px;
    }
}

.score-board {
    margin-top: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 1600px) {
    .button {
        height: 140px;
        width: 170px;
    }

    .bot-choice-img {
        height: 140px;
        width: 170px;
    }
}

@media screen and (max-width: 1280px) {
    .button {
        height: 100px;
        width: 150px;
    }

    .bot-choice-img {
        height: 100px;
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    #outcome {
        left: 19%;
        max-width: 95%;
        transform: translate(-18%, -10%);
    }


}

@media screen and (max-width: 320px) {
    .button {
        height: 60px;
        width: 150px;
    }

    .bot-choice-img {
        height: 55px;
        width: 150px;
    }

    .heading {
        padding-top: 5px;
        font-size: 11px;
    }

    #rules {
        font-size: 11px;
    }

    h2 {
        font-size: 11px;

    }

    #score-board {
        font-size: 11px;
    }

    .playing-board>img {
        max-height: 200px;
    }

    #outcome {
        top: 185px;
        max-width: 90%;
        left: 15%;
        transform: translate(-11%, -15%);
    }
}