/*------------------------- Body -------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial;
    font-family: 'Shantell Sans', cursive;
    font-weight: 350;
    /* background-color: rgb(221, 218, 201); */
}

/*------------------------- Headings -----------------------------------------*/

h1, h2 {
    font-family: Arial;
    font-family: 'Shantell Sans', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    /* color: rgb(90, 11, 11); */
}

.heading {
   padding-top: 5px; 
   border: 30px;
   text-align: center;
}

/*------------------------- Game Container -----------------------------------*/
.game-container {
 display: flex;
 flex-direction: row;
 margin: 5px;
 padding-top: 30px;
 }

/*------------------------- User Choice --------------------------------------*/
.user-choice {
 display: flex;
 flex-direction: column;
 background-color: aquamarine;
}

.user-choice > div {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    height: 200px;
    width: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.button > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*------------------------- Playing Board ------------------------------------*/
.playing-board {
 /* background: url(../images/playing-board.png) center center no-repeat;
 background-size: cover; */
 height: 400px;
 width: 491px;
 display: flex;
 margin: auto;
 background-color: blueviolet;
}


/*------------------------- Bot Choice ---------------------------------------*/
.bot-choice {
 display: flex;
flex-direction: column;
}

.bot-choice-img {
    height: 200px;
    width: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
     overflow: hidden;
    background-color: blueviolet;
}

.bot-choice-img > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*------------------------- Score Board --------------------------------------*/
.score-board {
 display: flex;
 justify-content: space-between;
 margin-top: 30px;
}